.container {
    display: flex;
    width: 95%;
    margin: auto;
}

*{
    font-family: 'Poppins';
  }
  
  body{
    margin: 0;
  }
  
  a{
    text-decoration: none;
    color: #320D57;
  }
  
  .container{
    display: flex;
    width: 90%;
    margin: auto;
  }
  
  /* Começo do Header */
  .header{
    background-color: #ffffff;
    border-bottom: solid #8B49CD 3px;
    padding: 15px;
  }
  
  .header .container{
    justify-content: space-between;
    align-items: center;
  }
  
  .logoNav{
    width: 150px;
    height: 40px;
  }
  
  .navBar{
    width: 600px;
    display: flex;
    color: #320D57;
    list-style: none;
    justify-content: space-evenly;
  }
  
  .ativo{
    font-weight: 1000;
    color: #6a2b69;
    text-shadow: 1px 0px 1px #460d57;
  }
  
  .btnCadastro{
    background-color: #ffde59;
    color: black;
    border-radius: 8px;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    font-size: 18px;
    border: none;
   cursor: pointer;
   height: 40px;
   width: 170px;

  }
  /* Fim do Header */

.sala {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    height: 250px;
    justify-content: space-evenly;
}

h1 {
    margin: 0;
    color: purple;
    /* text-align: center; */
}

p {
    margin: 0;
}

span {
    width: 80%;
}

h3 {
    text-align: end;
}

.btn {
    width: 35%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* align-items: center; */
}

button {
    /* width: 60%; */
    background-color: violet;
    color: purple;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.kpei {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 30%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65%;
}

.pizza {
    width: 20%x;
}

.graficos {

}

#box1 {
    background-color: yellow
}

#box2 {
    background-color: greenyellow;
}

.header .menu #menu{
    width: 60px;
    height: 60px;
    margin-left: 780px;
    cursor: pointer;
    }

.menu_resp{
  background-color: white; 
  margin-left: 960px;
  top: 145px; 
  width: 120px; 
  height: 130px;
  float: none;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  border-style: solid;
  border-color: #8B49CD;
}

.menu_resp-q{
  background-color: white; 
  margin-left: 930px;
  top: 145px; 
  width: 150px; 
  height: 180px;
  float: none;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  border-style: solid;
  border-color: #8B49CD;
}

li{
  margin-right: 30px;
  font-size: 22px;
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  line-height: 42px;
}

.banner{
    height: 80vh;
    width: 100%;
}

.text{
    margin-left: 30px;
}

.text span{
    
}